<div id="login-view" class="container">
  <div class="login-wrapper">

  <%= form_tag auth_path, class: 'login-form' do %>
    <legend>Sign in to <span class="blue">Food Portal</span></legend>
    <div class="body">
      <div class="form-group">
        <%= label_tag :email, nil %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag :password, nil %>
        <%= password_field_tag :password, params[:password], class: 'form-control' %>
      </div>
    </div>
    <div class="footer">
      <%= submit_tag "Log in", class: "btn btn-success" %>
      <%= link_to "Register", "javascript:;", class: "btn btn-link pull-right", id: "registerSwitch" %>
    </div>
  <% end %>

  </div>
</div>

<div id="signup-view" class="container" style="display: none;">
  <div class="login-wrapper">

  <%= form_for @user, html: {class: 'login-form', novalidate: true}, method: :post do |f| %>
    <legend>Register for <span class="blue">Food Portal</span></legend>
    <div class="body">
      <div class="signup-page active">
        <div class="form-group">
          <%= f.label :name, "Name*" %>
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email*" %>
          <%= f.text_field :email, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :password, "Password*" %>
          <%= f.password_field :password, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="signup-page">
        <div class="form-group">
          <%= f.label :address1, "Address Line 1*" %>
          <%= f.text_field :address1, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :address2, "Address Line 2" %>
          <%= f.text_field :address2, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :city, "City*" %>
          <%= f.text_field :city, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :state, "State*" %>
          <%= f.text_field :state, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :postal_code, "Postal Code*" %>
          <%= f.text_field :postal_code, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="signup-page">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
      </div>
      <%= link_to "Back", "javascript:;", class: "btn btn-info", id: "backBtn", style: "display: none" %>
      <%= link_to "Next", "javascript:;", class: "btn btn-info", id: "nextBtn" %>
    </div>
    <div class="footer">
      <%= submit_tag "Sign Up", class: "btn btn-success", data: {disable_with: false} %>
      <%= link_to "Log In", "javascript:;", class: "btn btn-link pull-right", id: "loginSwitch" %>
    </div>
  <% end %>

  </div>
</div>
