<%= link_to "Create Order", new_order_path, class: "btn btn-info btn-with-another" %>
<%= link_to "View Past Orders", orders_past_orders_path, class: "btn btn-default" %>
<h1>Open Orders</h1>
<%= link_to "Refresh", refresh_orders_path, id: "secret-refresh-btn", class: "hide", data: {remote: true} %>
<div id="order-list">
  <%= render partial: 'order_boxes' %>
</div>

<% content_for :javascript do %>
  <script>
    var api_url = 'ws://172.16.84.128:3001',
        socket = null,
        authToken = "<%= session[:jwt_token] %>"
    ;

    socket = io(api_url);
    socket.on("connect", function() {
      console.log("connected");
    });
    socket.on("auth-request", function() {
      console.log("auth-request");
      socket.emit("login", authToken);
    });
    socket.on("order-created", function(data) {
      console.log("order-created");
      $("#secret-refresh-btn")[0].click();
    });
    socket.on("order-cancelled", function(data) {
      console.log("order-cancelled");
      $("#secret-refresh-btn")[0].click();
    });
    socket.on("order-updated", function(data) {
      console.log("order-updated");
      $("#secret-refresh-btn")[0].click();
    });
    socket.on("error", function() {
      socket.close();
    })
  </script>
<% end %>
